* {
    margin: 0;
}

    
    
body {
    
    background-image: url("/notes/app/notes logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
 
    background-attachment:fixed;
   }

header {
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
    border: 1px solid #B8B8B8;

}


.headerlink{
    font-weight: bolder;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 10px 5px 5px #96CEB4;
   
    
}


header a:link, a:visited {

    color: black !important;
    font-weight: bold;
   
    text-decoration: none;
}

#logo {
    flex: 1;
    box-shadow: none;
    font-size: xx-large;
}

#navlink_0 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 1;
    border: 1px solid #B8B8B8; 
      
}

#navlink_1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 1;
    border: 1px solid #B8B8B8;   
}
#navlink_2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 1;
    border: 1px solid #B8B8B8;
    
}

.container {
    size: 10px 10px 20px;
    border: 2px, solid black;  
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.container > div a:link, a:visited {
    
    color: black !important;
    font-weight: bold;
   
    text-decoration: none;
}
.container > div {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 3em;
    margin: 1em;
    box-shadow: 10px 5px 5px #96CEB4;
}



.backwardnav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.backwardnav a:link, a:visited {

    color: black !important;
    font-weight: bold;
   
    text-decoration: none;
}

#back_arrow {
    flex: 1;
    padding: 1rem;
}

#subject_title{
    font-size: 2rem;
    flex: 4;
    padding: 1rem;
}


#footer {
    margin: 1rem;
}

.btn {
    border: 1px solid #3498db;
    padding: 10px 20px;
    background: none;
    font-size: 20px;
    font-family: "montserrat";
    box-shadow: rgb(0, 255, 242);
    cursor: pointer;
    margin: 10px;
    color: black;
    transition: 0.4s;
    
    position: relative;
    overflow: hidden;
}
.btn:hover{
    color: #fff ;
}
.btn::before{
    content: "" ;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.4s;
}
.btn::before{
    bottom:0;
    border-radius: 50% 50% 0 0;
    height: 180%;
}