* {
    margin: 0;
}



header {
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
    border: 1px solid #B8B8B8;

}


.headerlink{
    font-weight: bolder;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
   
    
}


header a:link, a:visited {

    color: black !important;
    font-weight: bold;
   
    text-decoration: none;
}

#logo {
    flex: 1;
    font-size: xx-large;
}

#navlink_0 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 1;
    border: 1px solid #B8B8B8;   
}

#navlink_1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 1;
    border: 1px solid #B8B8B8;   
}
#navlink_2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 1;
    border: 1px solid #B8B8B8;
    
}

.container {
    
    border: 2px, solid black;  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.container > div a:link, a:visited {

    color: black !important;
    font-weight: bold;
   
    text-decoration: none;
}
.container > div {
    background-color: #1CF82B;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 3em;
    margin: 1em;
}


