* {
    margin: 0;
}


@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
} 
   
    
body {
    color: white;
    /*
    background-image: url("../app/notes\ logo.png");*/
    background-color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-size: 90%;
    /*
    background-size: cover;
    background-repeat: no-repeat;*/
   }

header {
    display: flex;
    flex-direction: row;
    color: white;
   flex-wrap: wrap;
    border: 1px solid #B8B8B8;
    background-image: url();
    font-size: 110%;

}


.headerlink{
    font-weight: bolder;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    text-align: center;
    /* box-shadow: 10px 5px 5px #96CEB4; */
    /* font-size: 170%; */
   
    
}


header a:link, a:visited {

    color: white!important;
    font-weight: bold;
   
    text-decoration: none;
}

#logo {
    flex: 1;
    box-shadow : none;
    font-size : 3rem;
    margin-top : 1rem;
    
}

#navlink_0 {
    
    padding-top: 1rem;
    
    flex: 1;
    border: 1px solid #B8B8B8; 
      
}

#navlink_1 {
    padding-top: 1rem;
    
    flex: 1;
    border: 1px solid #B8B8B8;   
}
#navlink_2 {
    padding-top: 1rem;
   
    flex: 1;
    border: 1px solid #B8B8B8;
    
}

.container {
    
    border: 2px, solid rgba(0, 0, 0, 0);  
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.container > div a:link, a:visited {
    
    color: white !important;
    font-weight: bold;
   
    text-decoration: none;
}
.container > div {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    text-align: center;

}

main{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../app/notes\ logo.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position:center;
    background-attachment:fixed;
    font-size: 100%;
}

.backwardnav a:link, a:visited {

    color: white !important;
    font-weight: bold;
   
    text-decoration: none;
}

#back_arrow {
    flex: 1;
    padding: 1rem;
}

#subject_title{
    font-size: 2rem;
    flex: 4;
    padding: 1rem;
}


#footer {
    margin: 1rem;
    color: white;
}

.btn {
    border: 1px solid #ff6600;
    padding: 10px 20px;
    background: none;
    font-size: 20px;
    font-family: "montserrat";
    box-shadow: rgb(0, 255, 242);
    cursor: pointer;
    margin: 10px;
    color: white;
    transition: 0.4s;
    
    position: relative;
    overflow: hidden;
}
.btn:hover{
    color: #fff ;
}
.btn::before{
    content: "" ;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #ff6600;
    z-index: -1;
    transition: 0.4s;
}
.btn::before{
    bottom:0;
    border-radius: 50% 50% 0 0;
    height: 180%;
}



/* for lighting button  */

.light-button a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
  border:.5px solid #fff;
   
}
.light-button :hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.light-button a span{
    position: absolute;
    display: block;
}
.light-button a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg,transparent,#f45b03);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.light-button a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.light-button span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.light-button a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}


.light-button1 a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
  border:.5px solid #fff;
   
}
.light-button1 :hover{
    background: #f43b03;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.light-button1 a span{
    position: absolute;
    display: block;
}
.light-button1 a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg,transparent,#f45b03);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.light-button1 a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.light-button1 span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.light-button1 a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}



/* for responsive header  */


/* hiding the menu in desktop mood */
#menu {
    display: none;
}

#phone_menu {
    display: none;
    

}

#phone_menu > a {
    border:     1px solid white;

}

/* for mobile phone displaying hamburger menu */
@media screen and (max-width: 600px) {
    .headerlink {
        display: none;
    }


    #logo {
        display: block;
        text-align: left;
        


    }
  
    #menu  {
        display: block;
        padding-top: 2rem;
        padding-right: 2rem;
        
    }
    
 
  }


