<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4V4CGRL9WL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4V4CGRL9WL');
</script>
    <script src="../../js/pdf.js"></script>
    <link rel="icon" href="../../app/notes logo.png"type="notes logo.png" sizes="16x16">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,400&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
 
    <header >
        <div id="logo" class="headerlink">
           CSD - NOTES
        </div>

 
        <div id="navlink_0" class="headerlink">
            <a href="../../index.html">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="../../app/csd_notes.apk">Download App</a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="./../About.html">About</a>
        </div>

        <div id="menu"   >
            <a href="javascript:void(0);"> <i class="material-icons" style="font-size:2rem;" >menu</i></a>
        </div>

        
    </header> 
    <div id="phone_menu">

        <a href="../../index.html" style="color: white; ">  Home </a>
        <a href="../../app/csd_notes.apk" style="color: white; ">  Download Apk</a> 
        <a href="../../templates/About.html">About</a>

        </div> 
    <main  >

      
        
        <div class="backwardnav">
            <div id="back_arrow">

        </div>

        <div class="material-icons"  style="font-size:3rem"> 
            <a href="Basic.html">arrow_back</a> 
        </div>
            <div id="subject_title">
                <h3>OBJECT ORIENTED PROGRAMMING THROUGH JAVA </h3>
            </div>
        </div>

       <p>Click on the buttons below to view the desired pdf down 👇</p> 
        <div class="container Link_button">
       
            <div class='light-button'>
                <a href = 'https://drive.google.com/file/d/16M6Nh-djLNSqXTermSALYS89IdylehnT' target = "_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNIT-1</a>
            </div>
            
            <div class='light-button'>
                <a href='https://drive.google.com/file/d/1X_dqIJl49-0PDCQvPrUOcgaM3zPJKrQG' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNIT-2</a>
            </div>    
            
            <div class='light-button'>
                <a href='https://drive.google.com/file/d/1-PELD3qRdpbAqlAis29gSABQzDLl3X-K' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNIT-3</a>
            </div>

            <div class='light-button'>
                <a href='https://drive.google.com/file/d/1ZOqFFKH31SmT0ZLczjLYzASF3dL5j768' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNIT-4</a>
            </div>

            <div class='light-button'>
                <a href='https://drive.google.com/file/d/1iMscl35ytVEoFyiQU-VXWTguFh8bOxcf' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNIT-5</a>
            </div>
            
            <div class='light-button'>
                <a href='https://drive.google.com/file/d/1obdIyGvLKxdMbrv8P70mJm7Stqs46Q5k' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>JAVA SYLLABUS</a>
            </div>
        </div>
        <iframe src="" id="pdf_viewer"  style="border-width: 0px;" width="99%" height="0%;" allow="autoplay"></iframe>
    </main>
    <script src="../../js/script.js" ></script>
</body>
</html>