<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../app/notes logo.png"type="notes logo.png" sizes="16x16">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEFA</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
 
    <header >
        <div id="logo" class="headerlink">
           CSD - NOTES
        </div>

 
        <div id="navlink_0" class="headerlink">
            <a href="../index.html">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="../app/csd_notes.apk">Download App</a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="./About.html">About</a>
        </div>
        <div id="menu"   >
            <a href="javascript:void(0);"> <i class="material-icons" style="font-size:2rem;" >menu</i></a>
        </div>
    </header> 

    <main  >

      
        
        <div class="backwardnav">
            <div id="back_arrow">

        </div>

        <div class="material-icons"  style="font-size:3rem"> 
            <a href = "Basic.html">arrow_back</a> 
        </div>
            <div id="subject_title">
                <h3>MANAGERIAL ECONOMICS AND FINANCIAL ACCOUNTANCY </h3>
            </div>
        </div>

        
        
        <div class="container">
       
        <!--    <div class='light-button'>
                <a href = 'https://drive.google.com/file/d/16M6Nh-djLNSqXTermSALYS89IdylehnT/view?usp=sharing' target = "_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNIT-1</a>
            </div>
            
            <div class='light-button'>
                <a href='https://drive.google.com/file/d/1X_dqIJl49-0PDCQvPrUOcgaM3zPJKrQG/view?usp=sharing' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNIT-2</a>
            </div>    
            
            <div class='light-button'>
                <a href='https://drive.google.com/file/d/1-PELD3qRdpbAqlAis29gSABQzDLl3X-K/view?usp=sharing' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNIT-3</a>
            </div>

            <div class='light-button'>
                <a href='https://drive.google.com/file/d/1ZOqFFKH31SmT0ZLczjLYzASF3dL5j768/view?usp=sharing' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNIT-4</a>
            </div>

            <div class='light-button'>
                <a href='https://drive.google.com/file/d/1iMscl35ytVEoFyiQU-VXWTguFh8bOxcf/view?usp=sharing' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNIT-5</a>
            </div>
        -->
            <div class='light-button'>
                <a href='https://drive.google.com/file/d/11S8-03TqPeuX3Oy5-v6L4LoEcoeCq7Vk/view?usp=sharing' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>MEFA Syllabus</a>
            </div>
        </div>
        <br></br>
    </main>
    
</body>
</html>
