
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header >
        <div id="logo" class="headerlink">
            NOTES
        </div>


        


        <div id="navlink_0" class="headerlink">
            <a href="/notes/">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="./join_us.html">join</a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="./About.html">About</a>
        </div>
    </header> 

    <main >
        <h1>About</h1>
        <p>
        This is for all who are like us who cannot write notes in class .
        </p>
    </main>
</body>
</html>

