
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../app/notes logo.png"type="notes logo.png" sizes="16x16">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
 
    <header >
        <div id="logo" class="headerlink">
           CSD - NOTES
        </div>

        <div id="navlink_0" class="headerlink">
            <a href="/notes/">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="../app/csd_notes.apk">Download App</a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="./About.html">About</a>
        </div>
    </header> 

    <main >
        <h1>About</h1>
        <br>
        <p>
        This is for all who are like us who cannot write notes in class .
        </p>

        <br>

        <h1>list of contributors are :</h1>
        <br>

        <ol>
            <li>Latha</li>
            <li>Nithin</li>
            <li>Siva</li>
            <li>Sravan</li>
            <li>Vivek</li>
            
        </ol>
     
        <p>
            <br>
        <h2> we need contributor</h2>
            <br>
            <p style="font-size: large;">
                You can contribute to these by giving your class notes or by writing these website .
                We really appreciate that .
                If  you want to contributee connect <strong> Nithin</strong>  at
                 <a href="https://www.instagram.com/ram_csd/"> <strong> instagram </strong> </a>
            </p>
        </p>
    </main>
    
</body>
</html>

