
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4V4CGRL9WL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4V4CGRL9WL');
</script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href="../app/notes logo.png"type="notes logo.png" sizes="16x16">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,400&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
 
    <header >
        <div id="logo" class="headerlink">
           CSD - NOTES
        </div>

        <div id="navlink_0" class="headerlink">
            <a href="../index.html">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="../app/csd_notes.apk">Download App</a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="./About.html">About</a>
        </div>
        <div id="menu"   >
            <a href="javascript:void(0);"> <i class="material-icons" style="font-size:2rem;" >menu</i></a>
        </div>

    </header> 
    <div id="phone_menu">
        <a href="../index.html" style="color: white;"> Home </a>
        <a href="../app/csd_notes.apk" style="color: white; ">  Download Apk</a> 
        <a href="./About.html">About</a>

        </div> 
    <main >
        <h1>About</h1>
        <p>
        This is for all who are like us who cannot write notes in class .
        </p>
        <h1>Mentored by</h1>
        <li>Dr. R. V. KISHORE KUMAR</li>
        <li>Dr. A. GOPI </li>
        <h1>Page supporters :</h1>
        <ol>
            <li>THOTA JAYA KRISHNA</li>
            <li>KOYA HEMA SATYA SRI</li>
            <li>BARAM SIVA RAMI REDDY</li>
            <li>BHASHYAM SRAVAN KUMAR</li>
            <li>LAGHUMAVARAPU KOMALI</li>
            <li>CHAKRICHANDANMEHAR VANKAYALA</li>
            <li>PATALAM ASFIYA</li>
            <li>SAKHAMURI LATHA SRI</li>
            <li>PATHURI VENKATA RAMA NITIN</li>
            <li>SHAIK KHALEEL</li>
            <li>MADAPAKULA VENKATA ANIL</li>
            <li>MOHAN RAVI TEJA</li>
        </ol>
        <p>
        <h2> We need contributor</h2>
            <p>
                You can contribute to these by giving your class notes or by writing these website .
                We really appreciate that .
                If  you want to contributee connect <strong> Nitin</strong>  at
                 <a href="https://www.instagram.com/ram_csd/" style="color: white;" target="_blank"> <strong> instagram </strong> </a>
                 <br>
                 <a>Write us a Google form to contribute</a>
                 <a href="https://forms.gle/ZAL1CQxTrjgJ4z1c8" style="color:white" target="_blank"> click - here!</a>
            </p>
        </p>
    </main>
    <script src="../js/script.js"></script>
</body>
</html>

