<!DOCTYPE html>
<html lang="en">
    <link rel="icon" href="../app/notes logo.png">
<head>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1054429944630337"
     crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4V4CGRL9WL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4V4CGRL9WL');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,400&display=swap" rel="stylesheet">
    <title>CSD - NOTES</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header >
        <div style="box-shadow: none;" id="logo" class="headerlink">
        CSD - NOTES

        </div>

    
        <div id="navlink_0" class="headerlink">
            <a href="../">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="../app/csd_notes.apk">  Download App</a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="../templates/About.html">About</a>

        </div>
        <div id="menu"   >
            <a href="javascript:void(0);"> <i class="material-icons" style="font-size:2rem;" >menu</i></a>
        </div>
    </header> 
    <br>

    <div id="phone_menu">

        <a href="../index.html" style="color: white; ">  Home </a>
        <a href="../app/csd_notes.apk" style="color: white; ">  Download Apk</a> 
        <a href="./About.html">About</a>

        </div> 

    <main>

        <div class="backwardnav">
            <div id="back_arrow">
            <div class="material-icons"  style="font-size:3rem"> 
                <a href="./Index-2.html">arrow_back</a> 
            </div>
        </div>
        
        <h1>SUBJECT - NOTES</h1>
        

        <div class="container">

            <div class='light-button'>
                <a href='./dbms_units.html'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    DBMS</a>
            </div>

            <div class="light-button">
            
                <a href='./fds_units.html'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    FDS</a>
            </div>

            <div class='light-button'>    
                <a href='./mfcs.html'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    MFCS</a>
            </div>

            <div class='light-button'>
                <a href='./p&s_units.html'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    P&S</a>
            </div>

            <div class='light-button'>
                <a href='./dsa.html'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>DSA</a>
            </div>
            
        </div>    
        
    <div>
        <h1>LAB MANUALS</h1>

        <div class="container">
        <div class="light-button">        
            <a href='./dbms_lab_manual.html'>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                DBMS</a>
        </div>
        
        <div class="light-button">        
            <a href='./fds_lab_manual.html'>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                FDS</a>
        </div>

        <div class="light-button">        
            <a href='./ds_lab_manual.html'>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                ADS</a>
        </div>
        
            
        </div>
    </div>
    </main>
    
    <script src="../js/script.js"></script>
</body>
</html>
