<!DOCTYPE html>
<html lang="en">
    <link rel="icon" href="./app/notes logo.png">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSD - NOTES</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header >

        
        <div class="backwardnav">
            <div id="back_arrow">
            <div class="material-icons"  style="font-size:3rem"> 
                <a href="./">arrow_back</a> 
            </div>
        </div>

        <div style="box-shadow: none;" id="logo" class="headerlink">
        CSD - NOTES

        </div>

    
        <div id="navlink_0" class="headerlink">
            <a href="./">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="./app/csd_notes.apk">  Download App</a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="./templates/About.html">About</a>
        </div>
    </header> 
    <br>

    <main>
        <h2>SUBJECT - NOTES</h2>
        <div>
            <a href='./templates/dbms_units.html'><button class="btn" >DBMS</button></a>
            <a href='./templates/fds_units.html'><button class="btn" >FDS</button></a>
            <a href='./templates/mfcs.html'><button class="btn" >MFCS</button></a>
            <a href='./templates/p&s_units.html'><button class="btn" >P&S</button></a>
            
        </div>
        <h2>LAB MANUALS</h2>
        <div>
            <a href='./templates/dbms_lab_manual.html'><button class="btn" >DBMS</button></a>
            <a href='./templates/fds_lab_manual.html'><button class="btn" >FDS</button></a>
            <a href='./templates/ds_lab_manual.html'><button class="btn" >ADS</button></a>
            
        </div>
    </main>
    
    
</body>
</html>
