<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../app/notes logo.png"type="notes logo.png" sizes="16x16">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
 
    <header >
        <div id="logo" class="headerlink">
           CSD - NOTES
        </div>

 
        <div id="navlink_0" class="headerlink">
            <a href="../index.html">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="../app/csd_notes.apk">Download App</a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="./About.html">About</a>
        </div>
    </header> 

    <main  >

      
        
        <div class="backwardnav">
            <div id="back_arrow">
            <div class="material-icons"  style="font-size:3rem"> 
                <a href="basic1.html">arrow_back</a> 
            </div>
        </div>
            <div id="subject_title">
                <h3>DataBase Management System </h3>
            </div>
        </div>

        
        
        <div class="container">
       
            <div class='light-button'>
                <a href='../files/dbms/Unit-1.pdf' target="blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNIT-1</a>
            </div>
            
            <div class='light-button'>
                <a href='../files/dbms/Unit-2.pdf' target="blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNIT-2</a>
            </div>    
            
            <div class='light-button'>
                <a href='../files/dbms/Unit-3.pdf' target="blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNIT-3</a>
            </div>

            <div class='light-button'>
                <a href='../files/dbms/Unit-4.pdf' target="blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNIT-4</a>
            </div>

            <div class='light-button'>
                <a href='../files/dbms/Unit-1.pdf' target="blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNIT-5</a>
            </div>

            <div class='light-button'>
                <a href='../files/dbms/Unit-1.pdf' target="blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>UNITWISE IMPORTANT QUESTIONS</a>
            </div>
            
            <div class='light-button'>
                <a href='../files/dbms/DBMS.pdf' target="blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>DBMS SYLLABUS</a>
            </div>

        </div>
        <br></br>
    </main>
    
</body>
</html>
