<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../app/notes logo.png"type="notes logo.png" sizes="16x16">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <header >
        <div id="logo" class="headerlink">
           CSD - NOTES
        </div>

 
        <div id="navlink_0" class="headerlink">
            <a href="../index.html">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="../app/csd_notes.apk">Download App</a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="./About.html">About</a>
        </div>
    </header> 

    <main  >

      
        
        <div class="backwardnav">
            <div id="back_arrow">
            <div class="material-icons"  style="font-size:3rem"> 
                <a href="./basic1.html">arrow_back</a> 
            </div>
        </div>
        <br></br>
            <div id="subject_title">
                <h1>DataBase Management System </h1>
            </div>
        </div>

        
        
        <div class="container">
       
            <div class="light-button">        
            <a href='https://drive.google.com/file/d/1QXWOOmzLlPuyvk79-4sYs2_gW2wz2gg0/view?usp=sharing' target="_blank">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                LAB MANUAL</a>
        </div>
            
        <div class="light-button">        
            <a href='https://drive.google.com/file/d/1_vBQTW3anJ3jZiUpJ3Nn5vG3jDvJjnC2/view?usp=sharing' target="_blank">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                LAB SYLLABUS</a>
        </div>
           
        </div>
        <br></br>
    </main>
    
    
</body>
</html>
