<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header >
        <div id="logo" class="headerlink">
            NOTES
        </div>

 
        <div id="navlink_0" class="headerlink">
            <a href="/notes/">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="./join_us.html">Join us </a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="./About.html">About</a>
        </div>
    </header> 

    <main  >

      
        
        <div class="backwardnav">
            <div id="back_arrow">
            <div class="material-icons"  style="font-size:3rem"> 
                <a href="/notes/">arrow_back</a> 
            </div>
        </div>
            <div id="subject_title">
                <h3>DataBase Management System </h3>
            </div>
        </div>

        
        
        <div class="container">
       
            <div >
                <p> <a href="../files/dbms lab manual/DBMS_LAB_MANUAL.pdf" target="_blank">LAB MANUAL </a></p>
            </div>

        </div>
    </main>
</body>
</html>
