<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../app/notes logo.png"type="notes logo.png" sizes="16x16">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
 
    <header >
        <div id="logo" class="headerlink">
           CSD - NOTES (Extras)
        </div>

 
        <div id="navlink_0" class="headerlink">
            <a href="../index.html">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="../app/csd_notes.apk">Download App</a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="./About.html">About</a>
        </div>
    </header> 

    <main  >

      
        
        <div class="backwardnav">
            <div id="back_arrow">
            <div class="material-icons"  style="font-size:3rem"> 
                <a href="../index.html">arrow_back</a> 
            </div>
        </div>
            <div id="subject_title">
                <h1>Extras</h1>
            </div>
        </div>

        
        
        <div class="container">
       
            <div class='light-button1'>
                <a href='../Extras/DBMS Q_P.pdf' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>DBMS PREVIOUS YEAR QUESTION PAPERS</a>
            </div>
            
            <div class='light-button1'>
                <a href='../Extras/DMS Q_P.pdf' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>MFCS PREVIOUS YEAR QUESITON PAPERS</a>
            </div>    
            
            <div class='light-button1'>
                <a href='../Extras/DS Q_P.pdf' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>ADS PREVIOUS YEAR QUESION PAPERS</a>
            </div>

            <div class='light-button1'>
                <a href='../Extras/P&S Q_P.pdf' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>P & S PREVIOUS YEAR QUESTION PAPERS</a>
            </div>

            <div class='light-button1'>
                <a href="../Question Papers -20220130T150423Z-001.zip" target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>PREVIOUS YEAR QUESTION PAPERS R-13 TO R-19
                </a>
            </div>

            <div class='light-button1'>
                <a href='../Extras/C Interview Questions.pdf' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>C INTERVIEW QUESTIONS</a>
            </div>
        </div>
        <br></br>
    </main>
    
</body>
</html>