<!DOCTYPE html>
<html lang="en">
    <link rel="icon" href="../app/notes logo.png">
<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4V4CGRL9WL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4V4CGRL9WL');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semesters</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,400&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header >
        <div style="box-shadow: none;" id="logo" class="headerlink">
        CSD - NOTES

        </div>

    
        <div id="navlink_0" class="headerlink">
            <a href="../">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="../app/csd_notes.apk">  Download App</a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="../templates/About.html">About</a>
        </div>

        <div id="menu"   >
            <a href="javascript:void(0);"> <i class="material-icons" style="font-size:2rem;" >menu</i></a>
        </div>
    </header> 
   
    <div id="phone_menu">

        <a href="../index.html" style="color: white; ">  Home </a>
        <a href="../app/csd_notes.apk" style="color: white; ">  Download Apk</a> 
        <a href="./About.html">About</a>

        </div> 

    

    <main>

        <div class="backwardnav">
            <div id="back_arrow">
            <div class="material-icons"  style="font-size:3rem"> 
                <a href="../">arrow_back</a> 
            </div>
        </div>
        
        
        <div class="container">

            <div class='light-button'>
                <a href = "./basic1.html">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Semester 2-1
                </a>
            </div>
        
        

            <div class='light-button'>
                <a href = "./Semester2-2/Basic.html">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Semester 2-2
                </a>
            </div>
        </div>
    </main>
    
    <script src="../js/script.js" ></script>
</body>
</html>
