<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header >
        <div id="logo" class="headerlink">
            NOTES
        </div>




        <div id="navlink_0" class="headerlink">
            <a href="/">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="./join_us.html">Join us </a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="./About.html">About</a>
        </div>
    </header> 

    <main >

        <br>
        <h1>list of contributors are :</h1>

        <ol>
            <li>Nithin</li>
            <li>Sravan</li>
            <li>Vivek</li>
            <li>Siva</li>
        </ol>
        <ol>
        <h2>pdf giver</h2>
            <li>Latha</li>
            <li>Sravan</li>
        </ol>
        <p>
        <h2> we need contributor</h2>
    
            <p>
                You can contribute to these by giving your class notes or by writing these website .
                We really appreciate that .
            </p>
        </p>
    </main>
</body>
</html>

