<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4V4CGRL9WL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4V4CGRL9WL');
</script>
    <link rel="icon" href="../app/notes logo.png"type="notes logo.png" sizes="16x16">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<body>

    <header >
        <div id="logo" class="headerlink">
           CSD - NOTES
        </div>

 
        <div id="navlink_0" class="headerlink">
            <a href="../index.html">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="../app/csd_notes.apk">Download App</a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="./About.html">About</a>
        </div>
        <div id="menu"   >
            <a href="javascript:void(0);"> <i class="material-icons" style="font-size:2rem;" >menu</i></a>
        </div>
    </header> 
    
    <div id="phone_menu">

        <a href="../app/csd_notes.apk" style="color: white; ">  Download Apk</a> 
        <a href="./About.html">About</a>

        </div> 
    <main  >

      
        
        <div class="backwardnav">
            <div id="back_arrow">
            <div class="material-icons"  style="font-size:3rem"> 
                <a href="basic1.html">arrow_back</a> 
            </div>
        </div>
            <div id="subject_title">
                <h3>Mathematical Fundamentals of Computer Science </h3>
            </div>
        </div>

        
        
        <div class="container">

            <div class='light-button'>
                <a href='../files/dm/Unit-1.pdf' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Unit-1</a>
            </div>
            
            <div class='light-button'>
                <a href='../files/dm/Unit-2.pdf'target="_blank" >
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Unit-2</a>
            </div>

            <div class='light-button'>
                <a href='../files/dm/Unit-3.pdf' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Unit-3</a>
            </div>

            <div class='light-button'>
                <a href='../files/dm/Unit-4.pdf' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Unit-4</a>
            </div>

            <div class='light-button'>
                <a href='../files/dm/Unit-5.pdf' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Unit-5</a>
            </div>

            <div class='light-button'>
                <a href='../files/dm/MFCS Syllabus.pdf' target="_blank">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    MFCS SYLLABUS</a>
            </div>           

        </div>
        <br></br>
    </main>
    <script src="../js/script.js"></script>
</body>
</html>
