<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../app/notes logo.png"type="notes logo.png" sizes="16x16">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
 
    <header >
        <div id="logo" class="headerlink">
            CSD - NOTES
        </div>

 
        <div id="navlink_0" class="headerlink">
            <a href="../index.html">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="../app/csd_notes.apk">Download App</a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="./About.html">About</a>
        </div>
    </header> 

    <main  >

      
        
        <div class="backwardnav">
            <div id="back_arrow">
            <div class="material-icons"  style="font-size:3rem"> 
                <a href="basic1.html">arrow_back</a> 
            </div>
        </div>
            <div id="subject_title">
                <h3>Probability and Statistics </h3>
            </div>
        </div>

        
        
        <div class="container">

            <div class='light-button'>
                <a href='../files/ps/unit-1.pdf'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Unit-1</a>
            </div>

            <div class='light-button'>
                <a href='../files/ps/unit-2.pdf'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Unit-2</a>
            </div>


            <div class='light-button'>
                <a href='../files/ps/unit-3.pdf'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Unit-3</a>
            </div>

            <div class='light-button'>
                <a href='../files/ps/unit-4.pdf'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Unit-4</a>
            </div>


            <div class='light-button'>
                <a href='../files/ps/unit-5.pdf'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Unit-5</a>
            </div>

            <div class='light-button'>
                <a href='../files/ps/P&S syllabus.pdf'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    P&S Syallabus</a>
            </div>
            

        </div>
        <br></br>

    </main>
    
</body>
</html>
