<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../app/notes logo.png"type="notes logo.png" sizes="16x16">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
 
    <header >
        <div id="logo" class="headerlink">
            CSD - NOTES
        </div>

 
        <div id="navlink_0" class="headerlink">
            <a href="/notes/">Home</a>
        </div>
        <div id="navlink_1" class="headerlink">
            <a href="../app/csd_notes.apk">Download App</a>
        </div>
        <div id="navlink_2" class="headerlink">
            <a href="./About.html">About</a>
        </div>
    </header> 

    <main  >

      
        
        <div class="backwardnav">
            <div id="back_arrow">
            <div class="material-icons"  style="font-size:3rem"> 
                <a href="/notes/">arrow_back</a> 
            </div>
        </div>
            <div id="subject_title">
                <h3>Probability and Statistics </h3>
            </div>
        </div>

        
        
        <div class="container">

            <div>
                <p>
                    <a href="../files/ps/unit-1.pdf" target="_blank">Unit-1</a>
                </p>
            </div>

            <div>
                <p>
                    <a href="../files/ps/unit-2.pdf" target="_blank">Unit-2</a>
                </p>
            </div>

            <div>
                <p>
                    <a href="../files/ps/unit-3.pdf" target="_blank">Unit-3</a>
                </p>
            </div>

            <div>
                <p>
                    <a href="../files/ps/unit-4.pdf" target="_blank">Unit-4</a>
                </p>
            </div>

            <div>
                <p>
                    <a href="../files/ps/unit-5.pdf" target="_blank">Unit-5</a>
                </p>
            </div>

            <div>
                <p>
                    <a href="../files/ps/P&S syllabus.pdf" target="_blank">P&S Syllabus</a>
                </p>
            </div>
        </div>
        <br></br>

    </main>
    <footer id="footer" >
        © Created <strong> Cyber Generals</strong>  and Managed  by <strong>CSD</strong> 
    </footer>
</body>
</html>
